* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1280px;
    margin: auto;
    
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
} 

header{
    background-color: rgb(61, 61, 255);
    padding: 30px;
}

.nav ul li{
    display: inline-block;
    margin-left: 30px;
}

.nav, .nav-2{
    text-align: center;
}

a, .nav-2{
    text-decoration: none;
    color: white;
}

.nav, .logo{
    display: inline-block;
    vertical-align: middle;
}

.logo{
    margin-left: 260px;
    margin-right: 40px;
    
}

.button-1{
    margin-right: 0;
    background-color: white;
    padding: 10px;
    border-radius: 20px;
    vertical-align: middle;
}

.button-2{
    background-color: white;
    padding: 10px;
    border-radius: 20px;
    vertical-align: middle;
}

.button-3{
    background-color: black;
    padding: 10px;
    border-radius: 20px;
    vertical-align: middle;
    color: white;
}

.accedi, .button-2{
    color: black;
}

.col-1{
    display: inline-block;
    background-image: url("../css/img/jumbo.png");
    text-align: center;
    color: white;
    padding-top: 40px;
    height: 900px;
    
}

h1{
    color: white;
}
